@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* MODO CLARO (Tu paleta elegante) */
    --color-void: #F8F9F9;    /* Fondo claro */
    --color-stark: #03363D;   /* Texto oscuro */
    --color-fuschia: #A239CA; /* Neón acento */
    --color-jewel: #4717F6;   /* Neón acento */
}

[data-theme='dark'] {
    /* TU MODO OSCURO ACTUAL */
    --color-void: #0E0B16;
    --color-stark: #E7DFDD;
    --color-fuschia: #A239CA;
    --color-jewel: #4717F6;
}

body {
    background-color: var(--color-void);
    color: var(--color-stark);
}